body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
}

/*
thead, tbody { display: block; }

tbody {
    height: 100px;     
    overflow-y: auto; 
    overflow-x: hidden; 
}
*/

.fullpage-wrapper {
  width: 100%;
  height: 100vh;
  background: radial-gradient(#353c44, #222931);
  display: flex;
}

.tip_none {
  color: red;
}

.tip_low {
  color: red;
}

.tip_mid {
  color: orange;
}

.tip_high {
  color: green;
}

.table_status_out_the_door{
  color: green;
  font-weight: bold;
}

.table_status_makeline{
  color: orange;
}

.table_status_routing_station{
  color: blue;
}

.table_status_oven{
  color: gold;
}


.table_status_abandoned, .table_status_bad{
  color: red;
}


.table_status_complete{
  color: green;
}


.table_column_address{
  color:blue;

}
react-datepicker__day.available_date {
    color: #f00;
}
.available_date{
  color: green;
}
.table_container {
  height:430px;overflow:hidden;margin-right:15px;
}

.table {
  width: 100%;
}
.table thead{
 width: 100%; 
}
.bodycontainer { 
  
  max-height: 150px; width: 100%; margin: 0; overflow-y: hidden; 
}
/*.table-scrollable { display: block; margin: 0; padding: 0; }*/
/*tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

table{
 height:300px;
 display: -moz-groupbox;
}
tbody{
  overflow-y: scroll;      
  height: 200px; 
  width: 100%;
}*/
table.paleBlueRows {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.paleBlueRows tbody td {
  font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
  background: #D0E4F5;
}
table.paleBlueRows thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}